@import '_variables.scss';

.order-card {
    border: unset !important;
    font-family: Barlow;

    .title {

        font-weight: 600;
        font-size: 22px;
        line-height: 29.44px;
        margin-bottom: 24px;

    }
    .price-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 24px;

        .price {
            font-weight: 700;
            font-size: 28px;
            line-height: 37.47px;

        }
    }

    .text {
        font-weight: 400;
        font-size: 16px;
        line-height: 28.8px;
        margin-bottom: 34px;

    }

    .form-label {
        font-weight: 600;
        font-size: 20px;
        line-height: 24.76px;
        margin-bottom: 14px;

    }
   .sub-content {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include responsive(min-lg) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .item {
    width: 100%;
  }

  .counter-box {
    display: flex;
    align-items: center;
      @include responsive(min-lg) {
    justify-content: center;
      }

    button {
      width: 44px;
      height: 44px;
      font-weight: bold;
    }

    span {
      min-width: 24px;
      text-align: center;
      font-weight: 600;
    }

    @include responsive(min-lg) {
      width: 30%;
    }
  }

  .summary-box {
    padding: 16px;
    border-radius: 8px;
    border: 1px solid #d9d9d9;
    background-color: #fff;

    h6 {
      font-weight: 600;
    }

    @include responsive(min-lg) {
      width: 65%;
    }
  }
}

}