
@import '_variables.scss';
.section-content{
  height: 100vh;
  background-color: #CE2829; 

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    margin-bottom: 80px;
  }

  .brand {
    top: 40px;
              font-family: Londrina Solid;
  font-weight: 400;
  font-size: 50px;
  line-height: 50px;
  color:white;
  text-align: center;
      margin: 50px 0;
  }

  .title {
    text-align: center;

 font-family: Roboto Condensed;
font-weight: 300;
font-size: 86px;
line-height: 92px;
text-align: center;

  }
}

  
  